## BIG DATA MANAGEMENT - FINAL PROJECT PART1 -- SQL STATEMENTS
BY MERCAN KARACABEY

In [2]:
import psycopg2

In [62]:
## I used localdb - i created tables on localdb and connect there.

In [59]:
conn = psycopg2.connect(database = "postgres", user = "postgres", password = "mk1234", host = "127.0.0.1", port = "5432")
print("Opened database successfully")

Opened database successfully

### Tables 
Using Barcelona dataset - Immigrants/Emigrants Analysis according to age, nationality, gender. And frequency of baby names & names.

In [10]:
# byage
cur = conn.cursor()

cur.execute("SELECT *  from barcelone_immigrants_byage limit 20")
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108)
(2017, 1, 'Ciutat Vella', 2, 'el Barri Gòtic', '0-4', 58, 33)
(2017, 1, 'Ciutat Vella', 3, 'la Barceloneta', '0-4', 38, 37)
(2017, 1, 'Ciutat Vella', 4, 'Sant Pere, Santa Caterina i la Ribera', '0-4', 56, 55)
(2017, 2, 'Eixample', 5, 'el Fort Pienc', '0-4', 79, 60)
(2017, 2, 'Eixample', 6, 'la Sagrada Família', '0-4', 111, 95)
(2017, 2, 'Eixample', 7, "la Dreta de l'Eixample", '0-4', 121, 78)
(2017, 2, 'Eixample', 8, "l'Antiga Esquerra de l'Eixample", '0-4', 97, 63)
(2017, 2, 'Eixample', 9, "la Nova Esquerra de l'Eixample", '0-4', 123, 130)
(2017, 2, 'Eixample', 10, 'Sant Antoni', '0-4', 57, 80)
(2017, 3, 'Sants-Montjuïc', 11, 'el Poble Sec', '0-4', 80, 99)
(2017, 3, 'Sants-Montjuïc', 12, 'la Marina del Prat Vermell', '0-4', 1, 2)
(2017, 3, 'Sants-Montjuïc', 13, 'la Marina de Port', '0-4', 71, 59)
(2017, 3, 'Sants-Montjuïc', 14, 'la Font de la Guatlla', '0-4', 14, 15)
(2017, 3, 'Sants-Montjuïc', 15, 'Hostafrancs', '0-4', 31, 37)
(2017, 3, 'Sants-Montjuïc', 16, 'la Bordeta', '0-4', 33, 39)
(2017, 3, 'Sants-Montjuïc', 17, 'Sants - Badal', '0-4', 49, 57)
(2017, 3, 'Sants-Montjuïc', 18, 'Sants', '0-4', 106, 83)
(2017, 4, 'Les Corts', 19, 'les Corts', '0-4', 103, 73)
(2017, 4, 'Les Corts', 20, 'la Maternitat i Sant Ramon', '0-4', 81, 55)
Operation done successfully

In [11]:
#bynationality
cur = conn.cursor()

cur.execute("SELECT *  from barcelona_immigrants_bynationality limit 20")
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Spain', 1109)
(2017, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Spain', 482)
(2017, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Spain', 414)
(2017, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Spain', 537)
(2017, '2', 'Eixample', '5', 'el Fort Pienc', 'Spain', 663)
(2017, '2', 'Eixample', '6', 'la Sagrada Família', 'Spain', 1181)
(2017, '2', 'Eixample', '7', "la Dreta de l'Eixample", 'Spain', 1063)
(2017, '2', 'Eixample', '8', "l'Antiga Esquerra de l'Eixample", 'Spain', 1177)
(2017, '2', 'Eixample', '9', "la Nova Esquerra de l'Eixample", 'Spain', 1593)
(2017, '2', 'Eixample', '10', 'Sant Antoni', 'Spain', 883)
(2017, '3', 'Sants-Montjuïc', '11', 'el Poble Sec', 'Spain', 826)
(2017, '3', 'Sants-Montjuïc', '12', 'la Marina del Prat Vermell', 'Spain', 23)
(2017, '3', 'Sants-Montjuïc', '13', 'la Marina de Port', 'Spain', 574)
(2017, '3', 'Sants-Montjuïc', '14', 'la Font de la Guatlla', 'Spain', 264)
(2017, '3', 'Sants-Montjuïc', '15', 'Hostafrancs', 'Spain', 410)
(2017, '3', 'Sants-Montjuïc', '16', 'la Bordeta', 'Spain', 434)
(2017, '3', 'Sants-Montjuïc', '17', 'Sants - Badal', 'Spain', 605)
(2017, '3', 'Sants-Montjuïc', '18', 'Sants', 'Spain', 1083)
(2017, '4', 'Les Corts', '19', 'les Corts', 'Spain', 1027)
(2017, '4', 'Les Corts', '20', 'la Maternitat i Sant Ramon', 'Spain', 630)
Operation done successfully

In [15]:
#bysex
cur = conn.cursor()

cur.execute("SELECT *  from barcelona_immigrants_bysex limit 20")
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 3063, 1195)
(2017, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 1499, 427)
(2017, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 910, 361)
(2017, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 1438, 502)
(2017, '2', 'Eixample', '5', 'el Fort Pienc', 'Male', 1082, 495)
(2017, '2', 'Eixample', '6', 'la Sagrada Família', 'Male', 1693, 796)
(2017, '2', 'Eixample', '7', "la Dreta de l'Eixample", 'Male', 1543, 666)
(2017, '2', 'Eixample', '8', "l'Antiga Esquerra de l'Eixample", 'Male', 1693, 702)
(2017, '2', 'Eixample', '9', "la Nova Esquerra de l'Eixample", 'Male', 1927, 925)
(2017, '2', 'Eixample', '10', 'Sant Antoni', 'Male', 1253, 632)
(2017, '3', 'Sants-Montjuïc', '11', 'el Poble Sec', 'Male', 1595, 887)
(2017, '3', 'Sants-Montjuïc', '12', 'la Marina del Prat Vermell', 'Male', 17, 22)
(2017, '3', 'Sants-Montjuïc', '13', 'la Marina de Port', 'Male', 724, 516)
(2017, '3', 'Sants-Montjuïc', '14', 'la Font de la Guatlla', 'Male', 351, 193)
(2017, '3', 'Sants-Montjuïc', '15', 'Hostafrancs', 'Male', 584, 319)
(2017, '3', 'Sants-Montjuïc', '16', 'la Bordeta', 'Male', 471, 329)
(2017, '3', 'Sants-Montjuïc', '17', 'Sants - Badal', 'Male', 703, 475)
(2017, '3', 'Sants-Montjuïc', '18', 'Sants', 'Male', 1407, 789)
(2017, '4', 'Les Corts', '19', 'les Corts', 'Male', 1054, 651)
(2017, '4', 'Les Corts', '20', 'la Maternitat i Sant Ramon', 'Male', 608, 415)
Operation done successfully

In [16]:
# Most Frequent Names in Barcelona
cur = conn.cursor()

cur.execute("SELECT *  from most_frequent_names limit 20")
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(1, 'MARIA', 'Female', 'Before 1930', 2085)
(2, 'CARMEN', 'Female', 'Before 1930', 1463)
(3, 'JOSEFA', 'Female', 'Before 1930', 1032)
(4, 'MONTSERRAT', 'Female', 'Before 1930', 879)
(5, 'ROSA', 'Female', 'Before 1930', 762)
(6, 'TERESA', 'Female', 'Before 1930', 734)
(7, 'PILAR', 'Female', 'Before 1930', 694)
(8, 'DOLORES', 'Female', 'Before 1930', 679)
(9, 'MERCEDES', 'Female', 'Before 1930', 603)
(10, 'FRANCISCA', 'Female', 'Before 1930', 596)
(11, 'ANTONIA', 'Female', 'Before 1930', 573)
(12, 'ISABEL', 'Female', 'Before 1930', 544)
(13, 'CONCEPCION', 'Female', 'Before 1930', 522)
(14, 'NURIA', 'Female', 'Before 1930', 404)
(15, 'ANA', 'Female', 'Before 1930', 350)
(16, 'JUANA', 'Female', 'Before 1930', 315)
(17, 'M TERESA', 'Female', 'Before 1930', 292)
(18, 'ROSARIO', 'Female', 'Before 1930', 266)
(19, 'M ROSA', 'Female', 'Before 1930', 245)
(20, 'JOSEFINA', 'Female', 'Before 1930', 231)
Operation done successfully

In [17]:
# Most Frequent Baby Names in Barcelona
cur = conn.cursor()

cur.execute("SELECT *  from most_frequent_baby_names limit 20")
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(1, 'LAURA', 'Female', 1996, 237)
(2, 'MARIA', 'Female', 1996, 219)
(3, 'MARTA', 'Female', 1996, 206)
(4, 'ANDREA', 'Female', 1996, 199)
(5, 'ANNA', 'Female', 1996, 195)
(6, 'PAULA', 'Female', 1996, 186)
(7, 'ALBA', 'Female', 1996, 142)
(8, 'SARA', 'Female', 1996, 125)
(9, 'LAIA', 'Female', 1996, 123)
(10, 'CLAUDIA', 'Female', 1996, 122)
(11, 'JULIA', 'Female', 1996, 115)
(12, 'CARLA', 'Female', 1996, 112)
(13, 'MIREIA', 'Female', 1996, 112)
(14, 'MARINA', 'Female', 1996, 102)
(15, 'CRISTINA', 'Female', 1996, 99)
(16, 'CLARA', 'Female', 1996, 89)
(17, 'JUDITH', 'Female', 1996, 80)
(18, 'ARIADNA', 'Female', 1996, 78)
(19, 'NURIA', 'Female', 1996, 72)
(20, 'PATRICIA', 'Female', 1996, 71)
Operation done successfully

In [46]:
# Most Frequent Baby Names in Barcelona
cur = conn.cursor()

sql_statement_mfbn   = "SELECT distinct(mfn.name) from most_frequent_baby_names as mfbn" + " "
sql_statement_join   = "INNER JOIN most_frequent_names as mfn ON mfn.name = mfbn.name" + " "
sql_statement_where  = "WHERE mfn.Gender='Female'" + " "
sql_statement_limit = "LIMIT 20"


cur.execute(sql_statement_mfbn+sql_statement_join+sql_statement_where+sql_statement_gender)
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

('PATRICIA',)
('MARIA',)
('RAQUEL',)
('LAIA',)
('OLIVIA',)
('VALERIA',)
('NOA',)
('NEREA',)
('CLAUDIA',)
('ALBA',)
('AINA',)
('CRISTINA',)
('MARTINA',)
('NORA',)
('BERTA',)
('ABRIL',)
('PAULA',)
('JUDIT',)
('ONA',)
('SANDRA',)
Operation done successfully

In [61]:
# Most Frequent Baby Names in Barcelona
cur = conn.cursor()

sql_statement_byAge   = "SELECT * from barcelone_immigrants_byage as byAge" + " "
sql_statement_join_1  = "LEFT JOIN barcelona_immigrants_bynationality as byNat ON byAge.district_name = byNat.district_name" + " "
sql_statement_join_2  = "RIGHT JOIN barcelona_immigrants_bysex as bySex ON byNat.district_name=bySex.district_name" + " "
sql_statement_where   = "WHERE byAge.age='0-4' and byNat.nationality='Italy' and bySex.gender='Male'" + " " 
sql_statement_limit   = "LIMIT 20"

cur.execute(sql_statement_byAge+sql_statement_join_1+sql_statement_join_2+sql_statement_where+sql_statement_limit)
rows = cur.fetchall()
for row in rows:
   print(row)

print ("Operation done successfully");

(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 3063, 1195)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2017, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 1499, 427)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2017, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 910, 361)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2017, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 1438, 502)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2016, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 2819, 1268)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2016, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 1135, 428)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2016, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 785, 352)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2016, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 1210, 498)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2015, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 3219, 1541)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2015, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 1164, 435)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2015, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 808, 326)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2015, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 1302, 564)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2014, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 2810, 1485)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2014, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 947, 429)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2014, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 704, 363)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2014, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 1175, 520)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2013, '1', 'Ciutat Vella', '1', 'el Raval', 'Male', 2817, 1485)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2013, '1', 'Ciutat Vella', '2', 'el Barri Gòtic', 'Male', 921, 429)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2013, '1', 'Ciutat Vella', '3', 'la Barceloneta', 'Male', 665, 363)
(2017, 1, 'Ciutat Vella', 1, 'el Raval', '0-4', 154, 108, 2017, '1', 'Ciutat Vella', '1', 'el Raval', 'Italy', 360, 2013, '1', 'Ciutat Vella', '4', 'Sant Pere, Santa Caterina i la Ribera', 'Male', 943, 520)
Operation done successfully